
h2{
    font-family: 'Bebas Neue', cursive;
    margin: 20px 0 0 15px;
}


td{
    padding-bottom: 5px;
}

.picture{
    margin: 0 auto;
    display: block;
    max-width: 180px;
}

.navegacion-Principal{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    text-transform: uppercase;
}

.d-personales{
    margin-top: 50px;
}

.top-leters{
    text-transform: uppercase;
    background-color: #c4c4c4;
    color: #005677;
}

.negrita{
    font-weight: bold;
}
